body{
    display: flex;
    margin: 0;
    padding: 0;
    flex: 1;
    box-sizing: border-box;
    font-size: 2rem;
    background-color: #f5e3cb;
}



.image-container{
    width: 40vw;
    height: 100vh;
    
    


}

.main-container{
    width: 60vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 40px;
    padding: 10px;
    flex: 1;
    flex-wrap: wrap;
    
}

label{
    display: block;
}
.second-div{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    box-shadow: 2px 5px 2px 0px grey;
    flex-wrap: wrap;
   
    
}
.form-group{
    margin-bottom: 20px;
}
.c1,.c2,.c3{
    display: flex;
    gap: 100px;

}

.third-div{

    display: flex;
    flex-direction: column;
    margin-top: 40px;
}



button{
    width: 200px;
    height: 50px;
    border-radius: 30px;
    font-size: 1.5rem;
    background-color: greenyellow;
    box-shadow: 0px 5px 3px 2px grey;
    transition: transform 0.5 ease;
   
}

button:active{
    transform: translatey(10px);
}


input{
    width:250px;
    padding: 15px;
    border: 0.3px solid grey;
  
    border-radius: 10px;
}

input:focus{
    border: 1px solid blue;
    outline: none;
}

